services:
  app:
    build:
      context: .. # Aponta para a raiz do projeto
      dockerfile: .docker/Dockerfile # Caminho para o Dockerfile
      target: dev # Usa o estágio 'dev'
    working_dir: /workspace
    # Este comando garante que o script é executável (para Windows)
    # e depois o executa como ponto de entrada.
    command: sh -c "chmod +x .docker/entrypoint.dev.sh && ./.docker/entrypoint.dev.sh"
    ports:
      - "3000:3000"
    env_file:
      - ../.env
    volumes:
      # Sincroniza todo o seu código, exceto node_modules
      - ..:/workspace:cached
      # Volume nomeado para persistir node_modules
      - app_node_modules:/workspace/node_modules
      # Mapeia o entrypoint para dentro do contêiner
      # - ./entrypoint.dev.sh:/workspace/.docker/entrypoint.dev.sh 
    depends_on:
      - db
    mem_limit: 2g

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      # Este é o banco de DADOS de DESENVOLVIMENTO
      - POSTGRES_DB=appdb
    ports:
      - "5433:5432"
    volumes:
      # Volume nomeado para persistir os dados do banco
      - db_data:/var/lib/postgresql/data
      # Script para criar o banco de TESTE automaticamente
      - ./postgres/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh

volumes:
  app_node_modules:
  db_data: